/* CSS VARIABLES */
:root {
  --font-roboto: "Roboto", sans-serif;
  --primary-color: #dc2d31;
  --secondary-color: #ffffff;
  --tertiary-color: #0a0a0a;
}

/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 10px;
  font-family: var(--font-roboto);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
/* BASE STYLES END */

/* UTILITIES */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-variant: small-caps;
}

.fadein {
  opacity: 0.5;
  transition: all 1.5s;
  transform: translate(0, 100px);
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.header.sticky {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* UTILITIES END */

/* HEADER STYLES */
/* desktop styles */
.desktop-menu {
  display: none;
}

.desktop-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu .logo {
  width: 15rem;
}

.desktop-menu .nav-links {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-link.active {
  color: var(--primary-color);
  font-weight: 600;
  border-bottom: 2px solid;
  padding-bottom: 1rem;
}

.desktop-menu .social-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
}

.social-icons a:hover,
.footer-socials a:hover {
  color: var(--primary-color);
}

.nav-menu-container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* mobile styles */
.mobile-menu .logo {
  width: 15rem;
}

.mobile-menu {
  position: relative;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 2.5rem;
}

.bar {
  width: 100%;
  height: 0.3rem;
  background-color: var(--tertiary-color);
  transform-origin: left;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu .nav {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu .nav.open {
  transform: translateX(0);
}

.mobile-menu .nav-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
  top: 10rem;
}

.mobile-menu .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.close-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.8rem;
  border: 1px solid;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  color: var(--primary-color);
}
/* HEADER STYLES END */

/* MAIN STYLES */
/* HERO SECTION */
/* carousel styles start */
.carousel-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 10vh);
}

.carousel-container .carousel-images {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.carousel-images img:not(.active) {
  top: 0;
  left: -100%;
}

.carousel-btns button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  opacity: 0.25;
  background-color: var(--secondary-color);
  z-index: 50;
}

.carousel-btns button:hover {
  opacity: 1;
}

.carousel-btns button.prev-button {
  left: 20px;
}

.carousel-btns button.next-button {
  right: 20px;
}

@keyframes next1 {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}
/* carousel styles end */
/* hero text styles start */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  max-width: 500px;
  text-align: center;
  width: 90%;
  padding-inline: 3.5rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.hero-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.cta-btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 0.5rem;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
}
/* hero text styles end */
/* HERO END */

/* ABOUT SECTION START */
.about-us {
  padding-block: 5rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.about-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.about-image-div img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.about-text-div p,
.mission p,
.vision p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

ol li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
/* ABOUT SECTION END */

/* SERVICES DIV STYLES START*/

.services-div {
  padding-block: 5rem;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.accordion-content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion.active .accordion-content {
  max-height: 500px;
  padding: 10px;
}
.accordion-header::after {
  content: "+";
  float: right;
}
.accordion.active .accordion-header::after {
  content: "-";
}

.heading {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-block: 1rem 0.5rem;
}

.heading::before {
  content: "- ";
}

.accordion-content > div {
  padding-inline: 3rem;
  font-size: 1.2rem;
}

.accordion-content > p {
  font-size: 1.8rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-weight: bold;
}
/* SERVICES DIV STYLES END */

/* CLIENTS LOGOS SYLES START */
.logos-container {
  width: 100%;
  overflow: hidden;
}

.logos-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos-mobile img {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.logos-mobile .bottom-row {
  width: 50%;
}

.logos-desktop {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0;
}

.logos-desktop-inner {
  display: inline-block;
  animation-delay: 1.5s;
  animation: scroll 3s linear infinite;
}

.logos-desktop img {
  display: inline-block;
  height: 80px;
  margin-right: 20px;
  user-select: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* CLIENTS LOGOS STYLES END */

/* CONTACT US STYLES START */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.contact-info,
.contact-form {
  flex-basis: 100%;
  margin-bottom: 30px;
}

.clients,
.contacts {
  margin-bottom: 4rem;
}

/* h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
} */
.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info-item i {
  font-size: 1.5rem;
  margin-right: 15px;
  color: var(--primary-color);
}
.service-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
form {
  display: flex;
  flex-direction: column;
}
input,
textarea,
select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  height: 150px;
}
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--primary-color);
}
.success-message {
  display: none;
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
}
/* CONTACT US STYLES END */
/* MAIN STYLES END */

/* FOOTER STYLES START */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-section {
  flex: 1;
  margin-bottom: 2rem;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #555;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.footer li,
.footer p {
  font-size: 1.25rem;
}

.footer-bottom a:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--primary-color);
}
/* FOOTER STYLES END */

/* BACK TO TOP */
.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .hero-text {
    text-align: left;
    left: 30%;
    max-width: 700px;
  }

  .title {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.8rem;
  }

  /* ABOUT SECTION */
  .about-content {
    display: grid;
    grid-template-columns: 500px 1fr;
  }

  /* SERVICES */
  .accordion-container {
    flex-direction: row;
  }
  .accordion {
    flex: 1;
  }

  /* CLIENTS */
  .logos-mobile {
    display: none;
  }
  .logos-desktop {
    display: block;
  }

  /* CONTACT US*/
  .contact-info,
  .contact-form {
    flex-basis: 48%;
  }

  /* FOOTER */
  .footer-content {
    flex-direction: row;
  }

  .footer-bottom > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-section p {
    padding-right: 2.5rem;
  }

  h2 {
    text-align: left;
  }
}
